### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

In [ ]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [ ]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [ ]:
%%sql
select count(*) from CHICAGO_CRIME_DATA

### Problem 2

##### List community areas with per capita income less than 11000.

In [ ]:
%%sql
select COMMUNITY_AREA_NAME , PER_CAPITAL_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
%%sql
select CASE_NUMBER,PRIMARY_TYPE,DESCRIPTION from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%' or PRIMARY_TYPE like '%MINOR%'

### Problem 4

##### List all kidnapping crimes involving a child?

In [ ]:
%%sql
select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING' and DESCRIPTION like '%CHILD%';

### Problem 5

##### What kinds of crimes were recorded at schools?

In [ ]:
%%sql
select distinct(PRIMARY_TYPE) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%'

### Problem 6

##### List the average safety score for all types of schools.

In [ ]:
%%sql
select "Elementary, Middle, or High School", avg(safety_score) as average_safety_score
from CHICAGO_PRIMARY_SCHOOLS group by "Elementary, Middle, or High School"

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [ ]:
%%sql
select community_area_name, percent_households_below_poverty from CENSUS_DATA
order by percent_households_below_poverty desc nulls last limit 5;

### Problem 8

##### Which community area is most crime prone?

In [ ]:
%%sql
select community_area_name from CHICAGO_CRIME_DATA group by community_area_name 
order by count(*) desc nulls last limit 1

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [ ]:
%%sql
select community_area_name from CENSUS_DATA where hardship_index = (select MAX(hardship_index) from CENSUS_DATA)

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [ ]:
%%sql
select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER in 
(select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by  COMMUNITY_AREA_NUMBER order by count(*) desc limit 1)